body{
	background-color: white;
/*   background: white; */
/*   color: #fff; */
}
    
.navbar {
  border-bottom: white 7px solid;
  /*border-bottom: #00d68f 7px solid;*/
  /*opacity: 0.8;*/
}

.bordertop{
    border-top: #00d68f 7px solid;
}

.spancolor{
    color: white;
}

.corconfig{
    color: white;
}
.cardcor{
    background-color: #00d68f;
    color: white;
    text-align: center;
}

#entrar-section {
  background: url(../img/ifpictzs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 650px;
}

#entrar-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 650px;
  background: rgba(0, 0, 0, 0.5);
}

#entrar-section .row {
  padding-top: 62px;
}

#entrar-section .row .cardEntrar{
  opacity: 0.8;
}

#atpa-section .row{
  color: black;
  text-align: center;
}

#pccs-section .row{
  text-align: center;
  color: black;
}

h3{
	color: white;
}
